<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.app.springapp.mapper.ChatRoomMapper">
    <select id="selectAll" resultType="ChatRoomVO">
        SELECT ID, CHAT_ROOM_NAME, CHAT_ROOM_TYPE, CHAT_ROOM_CREATE_AT, CHAT_ROOM_PROFILE, USER_ID
        FROM TBL_CHAT_ROOM
    </select>


</mapper>