<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.app.springapp.mapper.PostMapper">
    <select id="selectAll" resultType="PostDTO">
        SELECT
            TBP.ID, TBP.POST_TITLE, TBP.POST_CONTENT ,TBP.POST_READ_COUNT, TBP.POST_CREATE_AT, TBP.POST_TAG, TBP.USER_ID,
            TBU.USER_NICKNAME, TBU.USER_PROFILE
        FROM TBL_POST TBP
                 JOIN TBL_USER TBU
                      ON TBP.USER_ID = TBU.ID
        ORDER BY TBP.ID DESC
    </select>
</mapper>